<div>
    <h2>Chat</h2>
    <!-- <div *ngIf="!selectedChatType">
        <p>Select chat type:</p>
        <button (click)="selectedChatType = 'private'">Private Chat</button>
        <button (click)="selectedChatType = 'group'">Group Chat</button>
    </div>
    <div *ngIf="selectedChatType === 'private'">
        <input type="text" placeholder="Enter recipient username" [(ngModel)]="recipientUsername" />
    </div>
    <div *ngIf="selectedChatType === 'group'">
        <input type="text" placeholder="Enter group username" [(ngModel)]="groupName" />
    </div>
    <input type="text" placeholder="Enter yor username" [(ngModel)]="username" />
    <div *ngIf="selectedChatType">
        <ul>
            <li *ngFor="let message of messages">{{message.sender}}: {{message.content}}</li>
        </ul>
        <input type="text" placeholder="Enter your message" [(ngModel)]="newMessage" />
        <button (click)="sendMessage()">Send</button>
    </div>
    <div *ngIf="!username">Please enter your username to start chatting</div> -->
</div>
